.btn-categoryItem {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #24d684;
    outline: none;
    transition: 1s ease-in-out;
    font-size: 16px;
  }
  .btn-categoryItem:hover {
    transition: 1s ease-in-out;
    background: #1a995d;
  } 
  .btn-categoryItem span {
    color: white;
    font-size: 18px;
    font-weight: 100;
  }