.navbar-container{
    height: 80px;
    background-color: #e6cbcb;
}
.navbar-wrapper{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}
.navbar-language{
    cursor: pointer;
    font-size: 15px;
}
.navbar-searchcontainer{
    border: 0.75px solid lightgrey;
    display: flex;
    align-items: center;
    padding: 5px;
    margin-left: 20px;
}
.navbar-elements-first{
    flex:1;
    display: flex;
    align-items: center;
}
.navbar-elements-second{
    flex:1;
    text-align: center;
}
.navbar-elements-third{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.navbar-input{
    border: none;
}
.logo{
    font-weight: bold;
}
.navbar-menu-item{
    cursor: pointer;
    font-size: 15px;
}
.navbar-third-items{
    margin-left: 25px;
}
.navbar-link{
    color:black;
    text-decoration: none;
}